/* Port of TextMate's idea theme */
.cm-s-idea.CodeMirror {
  background: #C7EDCC;
  color: #F8F8F8;
}
.cm-s-idea.CodeMirror pre {
  font-family: 'Source Code Pro', 'Fira Code', 'Courier New', serif;
  font-size: 22px;
}
.cm-s-idea div.CodeMirror-selected {
  background: #7cc142;
}
.cm-s-idea .CodeMirror-line::selection,
.cm-s-idea .CodeMirror-line > span::selection,
.cm-s-idea .CodeMirror-line > span > span::selection {
  background: #7cc142;
}
.cm-s-idea .CodeMirror-line::-moz-selection,
.cm-s-idea .CodeMirror-line > span::-moz-selection,
.cm-s-idea .CodeMirror-line > span > span::-moz-selection {
  background: #7cc142;
}
.cm-s-idea .CodeMirror-gutters {
  background: #f0f0f0;
  border-right: 0;
}
.cm-s-idea .CodeMirror-guttermarker {
  color: #6cc47a;
}
.cm-s-idea .CodeMirror-guttermarker-subtle {
  color: #888;
}
.cm-s-idea .CodeMirror-linenumber {
  color: #888;
}
.cm-s-idea .CodeMirror-cursor {
  border-left: 2px solid black;
}
.cm-s-idea .CodeMirror-line {
  color: black;
  font-weight: bold;
}
.cm-s-idea .cm-keyword {
  color: #000080;
  font-weight: bold;
}
.cm-s-idea .cm-atom {
  color: #00007d;
}
.cm-s-idea .cm-number {
  color: #0000ff;
}
.cm-s-idea .cm-def {
  color: #8DA6CE;
}
.cm-s-idea .cm-variable {
  color: #554415;
}
.cm-s-idea .cm-operator {
  color: #FBDE2D;
}
.cm-s-idea .cm-comment {
  color: #AEAEAE;
}
.cm-s-idea .cm-string {
  color: #008000;
}
.cm-s-idea .cm-string-2 {
  color: #008000;
}
.cm-s-idea .cm-meta {
  color: #000080;
}
.cm-s-idea .cm-builtin {
  color: #8DA6CE;
}
.cm-s-idea .cm-tag {
  color: #8DA6CE;
}
.cm-s-idea .cm-attribute {
  color: #8DA6CE;
}
.cm-s-idea .cm-header {
  color: #FF6400;
}
.cm-s-idea .cm-property {
  color: #660e7a;
  font-weight: bold;
}
.cm-s-idea .cm-hr {
  color: #AEAEAE;
}
.cm-s-idea .cm-link {
  color: #8DA6CE;
}
.cm-s-idea .cm-error {
  background: #9D1E15;
  color: #F8F8F8;
}
.cm-s-idea .CodeMirror-activeline-background {
  background: #3C3636;
  color: white;
}
.cm-s-idea .CodeMirror-matchingbracket {
  outline: 1px solid grey;
  color: white !important;
}
